/**********************

BLOG POST ELEMENTS

**********************/

@mixin blog-post-elements {

	.image {
		@include image;
	}

	.blog-date {
		@extend %paragraph-blog-info;
	}

	.blog-post-title {
		@extend %title-03;

		a {
			@include transition-effect(color $transition-duration $transition-effect);
			
			text-decoration: none;
			color: $grey-03;

			@include MQ(desktop) {
						
				&:hover {
					color: $highlight-01;
				}
			}
		}
	}

	.blog-tags {
		overflow: hidden;

		li {

			@extend %blog-tag;

			a {
				@extend %blog-tag-style;
			}
		}
	}

	.post-text {
		@extend %paragraph-01;

		clear: both;
	}

	.read-more {
		@extend %read-more;

		color: $highlight-01;
	}

	.post-info {
		overflow: hidden;
		
		li {
			float: left;
			margin-right: 30px;

			&:last-of-type {
				margin-right: 0;
			}

			a {
				@extend %paragraph-blog-info;

				font-size: 16px;
				color: $grey-01;
				font-weight: 500;
				text-decoration: none;
			}

			.icon-favorits {

				&:before {
					@extend %icon-favorite;
				}
			}	

			.icon-comments {

				&:before {
					@extend %icon-comment;
				}
			}
		}
	}
}

//Mixin for qoute
@mixin qoute {
	@include font-family;
	@include vs-60px(pt);
	@include vs-48px(pb);

	font-size: 30px;
	line-height: 1.6em;
	font-weight: 300;
	max-width: 400px;
	color: $highlight-01;
	text-align: center;

	@include MQ(mobile) {
		display: block;
		margin: 0 auto;
	}

	@include MQ(tablet) {
		display: block;
		margin: 0 auto;
	}
}

//Single blog post
@mixin blog-post-single {
	overflow: hidden;

	.play-button {
		@extend %play-button;
	}

	.blog-container {
		// @extend %grid-560;
		@extend %grid-946;
	}

	.media-container,
	.wp-block-image,
	.wp-block-embed {
		@extend %grid-946;
		@include vs-48px(mt);

		img {
			@include image;
		}
	}

	.iframe-container-responsive {
		position: relative;
		width: 100%;
		padding-bottom: 56.25%; 
		height: 0;
	}
	.iframe-container-responsive iframe {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	@include vs-48px(mt);

	p, h1, h2, h3, h4, h5, h6, .blog-tags {
		@extend %grid-560;
	}

	p {
		@extend %paragraph-02;
		@include vs-18px(mb);

		span {
			color: $highlight-01;
		}
	}

	figcaption {
		@include font-family;
		@include vs-18px(mt);

		font-size: 16px;
		font-weight: 500;
		line-height: 1.25em;
		color: $grey-05;
		text-align: center;
		max-width: none;
	}

	h1, h2 {
		@extend %title-05;
		@include vs-30px(mb);
		@include vs-60px(mt);
	}

	h3 {
		@extend %title-05;
		@include vs-24px(mb);
		@include vs-24px(mt);

		font-size: 26px;
	}

	h4 {
		@extend %title-05;
		@include vs-24px(mb);
		@include vs-24px(mt);

		font-size: 24px;
	}

	h5 {
		@extend %title-05;
		@include vs-18px(mb);
		@include vs-18px(mt);

		font-size: 22px;
	}

	h6 {
		@extend %title-05;
		@include vs-18px(mb);
		@include vs-18px(mt);

		font-size: 20px;
	}

	.qoute-r {

		@include qoute;

		@include MQ(desktop) {
			margin-right: -280px;
			float: right;
			padding-left: 60px;
		}
	}

	.qoute-l {

		@include qoute;

		@include MQ(desktop) {
			margin-left: -280px;
			float: left;
			padding-right: 60px;
		}
	}

	.blog-tags {

		li {

			@extend %blog-tag;

			a {
				@extend %blog-tag-style;
			}
		}
	}
}