/**********************

GLOBAL HEADER ELEMENTS

**********************/

@mixin global-header-elements {
	overflow: hidden;

	.custom-logo-link {
		@include logo;

		float: left;

		img {
			@include image;
		}
	}

	nav {
		float: right;

		li {
			float: left;
			display: inline-block;

			&:last-of-type {
				margin-right: 0;
			}
		}

		.home {

			a {
				@include font-family;
				@include transition-effect(color $transition-duration $transition-effect);

				font-size: 17px;
				line-height: 57px;
				font-weight: 700;
				color: $grey-03;
				text-decoration: none;
				margin-right: 70px;

				@include MQ(desktop) {
					&:hover {
						color: $highlight-01;
					}
				}
			}
		}

		.button-pink {

			a {
				@extend %button-pink; 
			}
		}

		.button-grey {

			a {
				@extend %button-grey; 
			}
		}
			
	}

	@include MQ(mobile) {
		
		.custom-logo-link {
			float: none;
			display: block;
			margin: 0 auto;
		}

		nav {
			@include vs-18px(mt);

			clear: both;
			float: none;

			li {
				@include vs-6px(mb);

				display: block;
				float: none;

				&:last-of-type {
					margin-bottom: 0;
				}
			}

			.home {

				a {
					display: block;
					margin-right: 0;
					padding: 16px 29px;
					line-height: 1.2em;
				}
			}

			.button-pink {

				a {
					display: block;
					margin-right: 0;
				}
			}

			.button-grey {

				a {
					display: block;
				}
			}
		}
	}

	@include MQ(tablet) {
		
		.custom-logo-link {
			float: none;
			display: block;
			margin: 0 auto;
		}

		nav {
			@include vs-24px(mt);
			clear: both;
			float: none;

			li {
				margin-right: 25px;
			}

			ul {
				overflow: hidden;
				width: fit-content;
				margin: 0 auto;
			}
		}
	}

	@include MQ(desktop) {
		position: relative;

		li {
			margin-right: 25px;
		}

		.custom-logo-link {
			position: absolute;
	  		top: 50%;
			transform: translate(0, -50%);
		}
	}
}