/**********************

SEARCH PAGE

**********************/

@mixin search-page {
	@extend %grid-1140;
	@include vs-78px(mt);
	@include vs-120px(mb);

	.main-title {
		@extend %title-01;
		@include vs-18px(mb);

		text-align: center;
	}

	.search-blog-form {
		margin: 0 auto;
		display: block;
		max-width: 210px; 

		.search-icon {
			@include vs-6px(mt);

			height: 18px;
			width: 17px;
			border: none;
			background-image: url('../icons/ic-search.svg');
			background-repeat: no-repeat;
			background-color: $white;
			margin-right: 8px;
			float: left;
		}

		.input-field {
			@extend %paragraph-01;

			border: none;
		}
	}
}