/**********************

BLOG POST FEATURED

**********************/

@mixin blog-post-featured {
	@extend %grid-1140;
	@include blog-post-elements;
	@include vs-120px(mb);

	overflow: hidden;

	.img-container {
		@extend %grid-50;

		float: left;

		.image {
			@include image;
		}

		@include MQ(mobile) {
			@include vs-30px(mb);
		}

		@include MQ(tablet) {
			width: 40%;
		}
	}

	.container-blog-featured {
		@extend %grid-50;

		float: right;

		.blog-date {
			@include vs-6px(mb);
		}

		.blog-tags {
			@include vs-18px(mt);
		}

		.post-info {
			@include vs-48px(mt);
		}

		@include MQ(tablet) {
			width: calc(60% - 30px);
			margin-left: 30px;
		}
	}
}