/**********************

BUTTON

**********************/

@mixin button-foundation {
	@include font-family;
	@include border-radius(2px);
	@include transition-effect(background-color $transition-duration $transition-effect);
	
	line-height: 25px;
	color: $white;
	text-decoration: none;
	display: inline-block;
	padding: 16px 29px;

	&:before {
		display: block;
		content: '';
		height: 20px;
		float: left;
		background-repeat: no-repeat;
		margin-right: 11px;
	}
}

%button-pink {
	@include button-foundation;

	font-size: 14px;
	font-weight: 700;
	background-color: $highlight-01;
	text-transform: uppercase;

	&:before {
		width: 17px;
		background-image: url('../icons/ic-apple.svg');
	}

	@include MQ(desktop) {

		&:hover {
			background-color: $grey-02;
		}
	}
}

%button-grey {
	@include button-foundation;

	font-size: 16px;
	font-weight: 500;
	background-color: $grey-02;

	&:before {
		width: 21px;
		background-image: url('../icons/ic-unicorn.svg');
		margin-top: 2px;
	}

	@include MQ(desktop) {

		&:hover {
			background-color: $highlight-01;
		}
	}
}