/**********************

ICON

**********************/

%icon-foundation {
	content: '';
	display: inline-block;
	width: 20px;
	overflow: hidden;
	float: right;
    margin-left: 12px;
    background-repeat: no-repeat;
}