/**********************

BLOG POSTS

**********************/

@mixin blog-posts {
	@extend %grid-1140;
	@include blog-post-elements;
	@include vs-30px(mb);
	
	overflow: hidden;
	
	.blog-container {

		&:first-of-type {

			@include blog-post-featured();

			padding: 0;
		}

		&:nth-child(n+2) {

			@extend %grid-33;
			@include vs-36px(mb);

			padding-bottom: 30px;
			position: relative;

			@include MQ(mobile) {
				padding-bottom: 48px;
			}

			@include MQ(tablet) {
				min-height: 700px;
			}

			@include MQ(desktop) {
				min-height: 700px;
			}

			.img-container {
				@include vs-12px(mb);
			}

			.container-blogs {
				padding: 0 1.5%;

				.blog-date {
					@include vs-6px(mb);
				}

				.blog-post-title {
					@include vs-12px(mb);
				}

				.blog-tags {
					//...
				}

				.post-info {
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}