/**********************

GLOBAL FOOTER

**********************/

.global-footer {
	@include vs-60px(pt);
	@include vs-60px(pb);

	overflow: hidden;
	background-color: $grey-06;
	border-top: 1px solid $grey-08;
	clear: both;

	.footer-container {
		@include global-footer-elements;
		@extend %grid-1140;

		overflow: hidden;
	}
}