/**********************

COLORS

**********************/

$white:			#ffffff;
$black:			#000000;

$grey-01:		#999999;
$grey-02:		#b3b3b3;		// BUTTON
$grey-02:		#555555;		// DARK
$grey-03:		#f0f0f0;		// LIGHT (TAG BG)
$grey-04:		#aaaaaa;		// CAPTION
$grey-05:		#f4f4f4;		// FOOTER BG
$grey-06:		#828282;		// FOOTER TEXT
$grey-07:		#d8d8d8;		// FOOTER BORDER
$grey-08:		#a9a9a9;		// BLOG POST DATE

$highlight-01:		#dc4ba3;	// DARKER
$highlight-02:		#f2c0de;	// LIGHTER