/**********************

GRID

**********************/

%grid-1140 {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 2.5%;
}

%grid-50 {
	width: calc((100% * 1/2) - 40px);

	@include MQ(mobile) {
		width: 100%;
	}
}