/**********************

TAG

**********************/

%blog-tag {
	@include font-family;
	@include border-radius(2px);
	
	display: inline-block;
	float: left;
	
	&:last-of-type {
		margin-right: 0;
	}
}

%blog-tag-style {
	@include transition-effect(	color $transition-duration $transition-effect,
								background-color $transition-duration $transition-effect);

	background-color: $grey-04;
	color: $grey-01;
	margin: 0 8px 8px 0;
	text-decoration: none;
	font-size: 14px;
	line-height: 1em;
	padding: 7px 9px;
	float: left;

	@include MQ(desktop) {
		&:hover {
			background-color: $highlight-02;
			color: $highlight-01;
		}
	}
}